<app-header [back]="true" title="New Course"></app-header>

<div class="row">
    <div class="column">

        <editable-header></editable-header>

        <div class="module-title-wrap">
            <h2>Modules</h2>
            <button mat-fab extended color="primary">
                <mat-icon>add</mat-icon>
                Add module
            </button>
        </div>

        <div class=draggable-list>
            <draggable-list [itemFormatter]="formatModule" [itemList]="modules"></draggable-list>
        </div>

    </div>

    <div class="column">

    </div>
</div>