<app-header [back]="true" title="New Course"></app-header>

<div class="row">
	<form #form class="column" [formGroup]="courseForm">
		<editable-text [textForm]="courseNameForm" label="Title" />

		<mat-form-field style="width: 100%">
			<mat-label>Description</mat-label>
			<textarea
				matInput
				formControlName="description"
				#Description
			></textarea>
		</mat-form-field>

		<!-- <app-color-picker [color]="courseForm.value.color" /> -->

		<div class="module-title-wrap">
			<h2>Modules</h2>
			<button
				mat-fab
				extended
				color="primary"
				(click)="openModuleListDialog()"
			>
				<mat-icon>add</mat-icon>
				Add module
			</button>
		</div>

		<draggable-list
			[itemFormatter]="formatModule"
			[itemList]="courseForm.value.modules!"
		/>
	</form>

	<div id="second-column" class="column">
		<h2>Main Competences</h2>

		<div class="chip-list">
			@for (competence of mainCompetences; track $index) {
			<mat-chip color="primary" [highlighted]="true">{{
				competence.Name
			}}</mat-chip>
			} @if (competencesOverflow > 0) {
			<mat-chip color="warn" [highlighted]="true"
				>+{{ competencesOverflow }} others</mat-chip
			>
			}
		</div>
	</div>

	{{ courseForm.errors }}

	<button
		type="button"
		style="justify-self: flex-end"
		mat-raised-button
		color="primary"
		[disabled]="!courseForm.valid"
		(click)="onSubmit()"
	>
		{{ this.isEdit ? "Edit" : "Create" }}
	</button>
</div>
