.editable {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-top: 2rem;

	h2 {
		font-size: 1.8rem;
		margin: 0;
		padding: 1rem 0.5rem 0.5rem 0.5rem;
		border-bottom: 2px solid var(--primary);
		font-weight: 500;
		width: 100%;

		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	mat-form-field {
		border: 0;
		font-size: 1.8rem;
		width: 100%;
	}

	button {
		margin-top: -12px;
		outline: 1px solid gray;
	}
}
