<div class="actions">
	<mat-form-field>
		<mat-label>Search</mat-label>
		<input matInput [formControl]="this.searchInput" />
		@if (this.searchInput.value) {
		<button
			type="button"
			matSuffix
			mat-icon-button
			aria-label="Clear"
			(click)="clearInput()"
		>
			<mat-icon>close</mat-icon>
		</button>
		}
	</mat-form-field>
</div>

<app-select-chip
	[contextMenuFn]="showContextMenu.bind(this)"
	[(selectedValues)]="selectedValues"
	[options]="modulesOptions"
	[toLabel]="ToLabel"
/>

<app-context-menu
	#contextmenu
	[display]="this.displayContextMenu"
	[contextMenuItems]="contextMenuOptions"
/>
