<div class="actions">
	<mat-form-field style="width: 100%;">
		<mat-label>Search</mat-label>
		<input matInput [formControl]="this.searchInput" [maxlength]="nameMaxLength">
		@if (this.searchInput.value) {
		<button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
			<mat-icon>close</mat-icon>
		</button>
		}
	</mat-form-field>
	<button type="button" mat-fab color="primary" (click)="openDialog()">
		<mat-icon>add</mat-icon>
	</button>
</div>

<div id="competences" class="column">
	<h2 style="color: var(--primary); margin-bottom: .5rem;">Select Competences</h2>
	<app-select-chip [contextMenuFn]="displayContextMenu.bind(this)" [(selectedValues)]="competences"
		[options]="competenceOptions" [toLabel]="ToLabel" />
</div>

<app-context-menu #contextmenu [ngStyle]="getContextMenuStyle()" [contextMenuItems]="rightClickMenuItems"
	(onContextMenuItemClick)="handleMenuItemClick($event)">
</app-context-menu>