.filter-wrap {
    margin-top: 4rem;
    gap: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.search-bar {
    outline-color: var(--secondary);
    width: 50%;
}

.button-wrap {
    display: flex;
    gap: 0.5rem;
}