<app-header title="Modules" description="Manage your modules here!"></app-header>

<div class="filter-wrap">
	<mat-form-field class="search-bar" appearance="outline">
		<mat-label>Search for modules</mat-label>
		<input matInput #search>
		<button mat-icon-button color="primary" matSuffix>
			<mat-icon>search</mat-icon>
		</button>
	</mat-form-field>

	<div class="button-wrap">
		<button mat-fab extended color="primary" [routerLink]="['/module', 'form']">
			<mat-icon>add</mat-icon>
			New Module
		</button>
	</div>
</div>

<div class="module-grid">
	<app-module-card *ngFor="let item of modules;" [module]="item" (onUpdate)="this.onEditModule($event)"
		(onDelete)="this.onDeleteModule($event)" />
</div>