.form {
	margin-top: 2rem;
	gap: 1rem;

	mat-form-field {
		width: 100%;
	}

	table {
		width: 100%;
	}
}

.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	.column {
		width: 100%;
	}
}

#competences {

	h2 {
		margin: 0;
	}
}
