<app-header [back]="true" title="New Module"></app-header>

<div class="form-card">

	<form #form class="form" [formGroup]="moduleForm">
		<div class="form-grid">
			<div id="module" class="column">
				<div style="display: flex; gap: 5px;">
					<div id="name">
						<mat-form-field>
							<mat-label>Name</mat-label>
							<input matInput formControlName="Name" placeholder="Ex: Basic Python" #Name>
						</mat-form-field>
					</div>
					<div id="workload">
						<mat-form-field>
							<mat-label>Workload ( Hours ) </mat-label>
							<input matInput formControlName="Workload" #Workload type="number">
						</mat-form-field>
					</div>
				</div>
				<mat-form-field>
					<mat-label>Description</mat-label>
					<textarea matInput formControlName="Description" placeholder="Ex: This module covers..."
						#Description></textarea>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Objectives</mat-label>
					<textarea matInput formControlName="Objective" placeholder="Ex: Learn about..."
						#Objective></textarea>
				</mat-form-field>
			</div>

			<app-competence-select-chip [(competences)]="competences" />
		</div>

		<button style="justify-self: flex-end;" mat-raised-button color="primary" (click)="onSubmit()">Create</button>
	</form>

</div>