.week-label {
	display: grid;
	grid-template-columns: 0.4fr repeat(5, 1fr);
}

.day-label {

	padding: 0.5rem 1rem;

	height: 60px;

	border: 1px solid black;
	border-left: none;

	cursor: pointer;

	&:first-child {
		border-left: 1px solid black;
	}

	&:hover p {
		color: var(--primary);
	}

	p {
		padding: 0;
		margin: 0;
	}

	.day-value {
		font-size: 1.5rem;
		font-weight: bold;
		color: var(--primary);
	}
}

.side-label {
	.day-label {
		border: none;
	}

	.day-period {

		border: none;

		section {

			margin: auto 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid;

			p {
				border-radius: 16px;

				padding: 0.4rem;
				margin: 0;

			}

			&.morning {

				p {
					color: var(--primary);
				}

				border-color: var(--primary);
				border-bottom: 2px solid lightgray;
			}

			&.afternoon {

				p {
					color: var(--accent);
				}

				border-color: var(--accent);
				border-top: 1px solid lightgray;
			}
		}


	}

}


.day-period {
	display: flex;
	flex-direction: column;
	justify-content: center;

	border: 1px solid lightgray;




	section {
		height: 100px;

	}

	section:first-child {
		border-bottom: 1px solid lightgray;
	}

}
